<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>{{titolo}}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  {% block stile %}
  {% endblock %}
</head>
<body>
  <div class="container">
  <h1>{% block intestazione %}{% endblock %}</h1>
  <p>Scegli cosa vuoi fare</p>
  
    <nav class="navbar">
      <a href="{{url_for('home')}}" class="nav-button">HOME</a>
      <a href="{{url_for('ricerca')}}" class="nav-button">Cerca un Libro</a>
      <a href="{{url_for('lista')}}" class="nav-button">Tutti i libri</a>
      {%block nav%}{%endblock%}
    </nav>
    
    
    <p>{% block corpo %}{% endblock %}</p>
  </div>
  
  <div class="flash-message flash-{{ category | default('info') }}">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <h1 class="flash-message">{{message}}</h1>
        {%endfor%}
    {% endif %}
  {% endwith %}
  </div>
  
</body>




</html>