<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>{{titolo}}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  {% block stile %}
  {% endblock %}
</head>
<body>

  <div class="container">
    <nav class="navbar">
      <a href="{{url_for('home')}}">HOME</a>
      <a href="{{url_for('ricerca')}}">Cerca un Libro</a>
      <a href="{{url_for('lista')}}">Tutti i libri</a>
      <a href="{{url_for('login')}}">Login</a>
      <a href="{{url_for('register')}}">Registrati</a>
      {%block nav%}{%endblock%}
    </nav>
    
    <h1>{% block intestazione %}{% endblock %}</h1>
    <p>{% block corpo %}{% endblock %}</p>
  </div>
  
</body>




</html>