{% extends 'base.html' %}
{% block titolo %}
Biblioteca
{% endblock %}

{% block intestazione %}Biblioteca{% endblock %}
{% block corpo %}
{{ message }}
<h2>
    <a href="{{url_for('addLibro')}}">Aggiungi un Libro</a>
    <a href="{{url_for('ricerca')}}">Cerca un Libro</a>
    <a href="{{url_for('lista')}}">Tutti i libri</a>

</h2>



{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <h1>{{message}}</h1>
        {%endfor%}
    {% endif %}
{% endwith %}
{% endblock %}
