{%extends 'base.html'%}
{%block intestazione%}
Lista dei Libri
{%endblock%}

{%block nav%}
<a href="{{url_for('register')}}" class="nav-button">Registrati</a>
{%endblock%}

{%block corpo%}

<div class="sort-options">
    <a href="{{ url_for('lista', ordine='titolo') }}">Ordina per titolo</a>
    <a href="{{ url_for('lista', ordine='autore') }}">Ordina per autore</a>
</div>

<form action="/statisticheGenere/" method= "post">
    <input type="submit" value="Ottieni le statistiche per la ricerca di genere">
</form>



<table>
    <tr>
        <th>ISBN</th>
        <th>Categoria</th>
        <th>Titolo</th>
        <th>Autore</th>
        <th>Anno</th>
        <th>Numero di copie</th>
    </tr>
    {% for libro in libri %}
        <tr>
            <td>{{libro[0]}}</td>
                <td>{{libro[1]}}</td>
                <td>{{libro[2]}}</td>
                <td>{{libro[3]}}</td>
                <td>{{libro[4]}}</td>
                <td>{{libro[5]}}</td>
        </tr>
    {%endfor%}
</table>
{%endblock%}