{%extends 'base.html'%}
{%block intestazione%}
Lista dei Libri
{%endblock%}

{%block stile%}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
    }
    th, td {
        border: 1px solid black;
        padding: 10px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
</style>
{%endblock%}


{%block corpo%}

<form action="/ordinaPerAutore/">
    <input type="submit" value="Ordina per Autore">
</form>
<br>
<form action="/ordinaPerTitolo/">
    <input type="submit" value="Ordina per Titolo">
</form>



<table>
    <tr>
        <th>ISBN</th>
        <th>Categoria</th>
        <th>Titolo</th>
        <th>Autore</th>
        <th>Anno</th>
        <th>Numero di copie</th>
    </tr>
    {% for libro in libri %}
        <tr>
            <td>{{libro[0]}}</td>
                <td>{{libro[1]}}</td>
                <td>{{libro[2]}}</td>
                <td>{{libro[3]}}</td>
                <td>{{libro[4]}}</td>
                <td>{{libro[5]}}</td>
        </tr>
    {%endfor%}
</table>
{%endblock%}