{%extends 'base.html'%}
{%block intestazione%}
Lista dei Libri
{%endblock%}

{%block stile%}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

{%endblock%}


{%block corpo%}

<form action="/ordinaPerAutore/">
    <input type="submit" value="Ordina per Autore">
</form>
<br>
<form action="/ordinaPerTitolo/">
    <input type="submit" value="Ordina per Titolo">
</form>
<br>
<form action="/filtraPerGenere/" method = "post">
    <label for="genere">Genere</label>
    <input type="text" id="genere" name="genere", placeholder="Inserisci il genere da cercare">
    <br>
    <input type="submit" value="Filtra">
</form>

<br>
<form action="/statisticheGenere/" method= "post">
    <input type="submit" value="Ottieni le statistiche per la ricerca di genere">
</form>



<table>
    <tr>
        <th>ISBN</th>
        <th>Categoria</th>
        <th>Titolo</th>
        <th>Autore</th>
        <th>Anno</th>
        <th>Numero di copie</th>
        <th>Riassunto</th>
    </tr>
    {% for libro in libri %}
        <tr>
            <td>{{libro[0]}}</td>
                <td>{{libro[1]}}</td>
                <td>{{libro[2]}}</td>
                <td>{{autori.get(libro[0]) }}</td>
                <td>{{libro[4]}}</td>
                <td>{{libro[5]}}</td>
                <td>
                    <button class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#modal{{ libro[0] }}">
                        Clicca qui!
                    </button>

                    <!-- Modale -->
                    <div class="modal fade" id="modal{{ libro[0] }}" tabindex="-1" aria-labelledby="modalLabel{{ libro[0] }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalLabel{{ libro[0] }}">{{ libro[1] }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {{ libro[6] }}
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
        </tr>
    {%endfor%}
</table>
{%endblock%}