{%extends 'base.html'%}


{%block corpo%}
<form action="/register/", method="POST">
    <input type="text" placeholder="nome" name="nome">
    <input type="text" placeholder="cognome" name="cognome">
    <input type="text" placeholder="username" name="username">
    <input type="email" placeholder="email" name="email">
    <input type="password" placeholder="password" name="password">
    <input type="password" placeholder="confermapassword" name="confermapassword">
    <input type="submit" value="REGISTRATI">
</form>


{%endblock%}