{% extends 'base.html' %}
{% block intestazione %}
Ricerca Libro per parola Chiave
{% endblock %}

{%block nav%}
<a href="{{url_for('register')}}" class="nav-button">Registrati</a>
<a href="{{url_for('login')}}" class="nav-button">Login</a>
{%endblock%}

{% block corpo %}
<form action="/ricercaLibro/" method="post">
    <br>
    <label for="parolaChiave">Parola Chiave</label>
    <input type="text" placeholder="Inserisci il titolo per la ricerca" id="parolaChiave" name="terminiRicerca">
    <br><br>
    <input type="submit" value="Cerca">
</form>


{%endblock%}