{% extends 'base.html' %}
{% block intestazione %}
Risultati della Ricerca
{% endblock %}



{%block nav%}
<a href="{{url_for('register')}}" class="nav-button">Registrati</a>
<a href="{{url_for('login')}}" class="nav-button">Login</a>
{%endblock%}

{% block corpo %}
<table>
    <tr>
        <th>ISBN</th>
        <th>Categoria</th>
        <th>Titolo</th>
        <th>Autore</th>
        <th>Anno</th>
        <th>Numero di copie</th>
    </tr>
    {% for libro in libri %}
        <tr>
            <td>{{libro[0]}}</td>
                <td>{{libro[1]}}</td>
                <td>{{libro[2]}}</td>
                <td>{{autori.get(libro[0]) }}</td> #sistemare autore
                <td>{{libro[4]}}</td>
                <td>{{libro[5]}}</td>
        </tr>
    {%endfor%}
</table>
{%endblock%}