{% extends 'base.html' %}
{% block intestazione %}
Statistiche sulle ricerche per genere
{% endblock %} 

{%block nav%}
<a href="{{url_for('register')}}" class="nav-button">Registrati</a>
<a href="{{url_for('login')}}" class="nav-button">Login</a>
{%endblock%}

{% block corpo %}
<table>
    <tr>
        <th>Genere</th>
        <th>Numero di ricerche</th>
    </tr>

    {% for ricerca in statistiche %}
        <tr>
            <td>{{ ricerca[0] }}</td>
            <td>{{ ricerca[1] }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
